name: sonarqube

on:
  push:
    branches:
      - main


jobs:
  build:
    name: Build and analyze
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Ensures full history for accurate analysis

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: squ_1c9e74fd2f17df1775c7542c0938a1d99582573b
          SONAR_HOST_URL: https://sonarcloud.io
        with:
          args: >
            -Dsonar.projectKey=Deepfake1
            -Dsonar.projectName=Deepfake1
            -Dsonar.sources=.
            -Dsonar.language=python
            -Dsonar.python.version=3.13
            -Dsonar.sourceEncoding=UTF-8
            -Dsonar.exclusions=**/tests/**,**/__pycache__/**,**/*.md,**/*.yml
